! General
!urxvt*termName:  rxvt-256color
urxvt*loginShell:         true
urxvt*scrollBar:         false
urxvt*secondaryScroll:    true
urxvt*saveLines:         65535
urxvt*cursorBlink:       false
urxvt*urgentOnBell:       true
!urxvt*override-redirect:false
!urxvt*borderLess:       false
!urxvt*internalBorder:       0
!urxvt*externalBorder:       0
URxvt.perl-ext-common:  default,keyboard-select
URxvt.keysym.M-Escape:  perl:keyboard-select:activate
URxvt.keysym.M-s:       perl:keyboard-select:search
!------------
!True Transparency
!------------
!set to 32-bit for real transparency (compositing required (see xcompmgr)
!urxvt*depth:             32
!transparent=0000 opaque=ffff
!urxvt*background: rgba:1111/1111/1111/dddd
!urxvt*background: rgba:1111/1111/1111/0000

! Extensions
urxvt*perl-lib:        /usr/lib/urxvt/perl/
urxvt*perl-ext-common: default,matcher,searchable-scrollback
urxvt*urlLauncher:     /usr/bin/firefox
urxvt*matcher.button:  1
!  - catch ugly URLs
!urxvt.cutchars:        ! Appearance

!urxvt.font: !xft:Inconsolata\ for\ Powerline:size=14
 urxvt.font: xft:Hack:size=12:antialias=true:hinting=true
!            xft:InconsolataDz\ for\ Powerline:size=14
!            xft:DejavuSansMono:size=14:antialias=true:hinting=true

! Gruvbox colors
! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2
!urxvt*cursorColor: #DCDCCC
!#  - pseudo transparency
urxvt*shading: 40   
urxvt*transparent:true
